<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roadsideassistance">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.OfflineFirebaseCapabilities"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoadSideAssistance">
        <activity android:name=".Common.TrackOrderActivity"></activity>
        <activity android:name=".Provider.Order_Activity" />
        <activity
            android:name=".Users.ProviderDetails"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Users.User_Home" />
        <activity android:name=".Provider.Provider_Home" />
        <activity android:name=".Common.SignIn" />
        <activity android:name=".Users.User_Signup" />
        <activity android:name=".Provider.Provider_Signup" />
        <activity android:name=".Common.ForgettPassword" />
        <activity android:name=".Common.PutOtp" />
        <activity android:name=".Common.PhoneNumber" />
        <activity android:name=".Common.Identity" />
        <activity
            android:name=".Common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>